// SPDX-License-Identifier: GPL-2.0
/*
 * Broadcom BCM63148 Reference Board (REF) DTS
 */

/dts-v1/;

#include "bcm63148.dtsi"

/ {
	compatible = "brcm,BCM963148REF", "brcm,bcm63148";
	model = "Broadcom BCM963148REF";

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
		stdout-path = &serial0;
	};

	memory {
		reg = <0x0 0x20000000>;
	};

	sfp {
		compatible = "sff,sfp";
		i2c-bus = <&i2c>;
		//los-gpios = <&gpio 28 GPIO_ACTIVE_HIGH>;
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";
};

&nand {
	status = "okay";

	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		brcm,nand-oob-sectors-size = <16>;
	};
};

&spi {
	status = "okay";

	flash: flash@0 {
		compatible = "m25p80";
		#address-cells = <2>;
		#size-cells = <2>;
		spi-max-frequency = <50000000>;
		reg = <0>;
		m25p-fast-read;
	};
};

&i2c {
	status = "okay";
};
